<section class="search-panel" fxLayout="column">
  <h2 fxFlex="grow" class="search-panel__title">{{'places.search.title' | translate }}</h2>

  <mat-input-container fxFlex="grow" fxFlexFill>
    <input type="text" matInput [formControl]="searchControl" [matAutocomplete]="auto">
    <mat-placeholder>{{'places.search.location.placeholder' | translate }}</mat-placeholder>
  </mat-input-container>

  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayPlace.bind(this)">
    <mat-option *ngFor="let place of filteredPlaces | async" [value]="place">
      {{ place.name }}
    </mat-option>
  </mat-autocomplete>

  <section fxFlex="grow">
    <div fxLayout="row">
      <label class="search-panel__label" fxFlexAlign="center" fxFlex="nogrow">{{'places.search.distance.label' | translate }}</label>
      <mat-slider fxFlex="grow" [max]="500" [min]="0" [step]="10" [thumb-label]="true" [vertical]="false" [value]="(filter | async)?.distance" (change)="changeDistanceHandler($event)">
      </mat-slider>
    </div>
  </section>

  <section fxFlex="grow">
    <div fxLayout="row">
      <label class="search-panel__label" fxFlexAlign="center" fxFlex="nogrow">{{'places.search.rating.label' | translate }}</label>
      <mat-slider fxFlex="grow" [min]="0" [max]="5" [step]="0.1" [thumb-label]="true" [vertical]="false" [value]="(filter | async)?.rating" (change)="changeRatingHandler($event)">
      </mat-slider>
    </div>
  </section>
</section>
