$height: 200px;

.place-card {
}

.place-card-image {
  overflow: hidden;

  &__img {
    height: $height;
    background-position: center center;
    background-size: cover;
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  &:hover {
    .place-card-image__img {
      -webkit-transform: scale3d(1.2, 1.2, 1);
      transform: scale3d(1.2, 1.2, 1);
    }
  }
}

.place-card-content {
  margin-left: -16px;
  margin-right: -16px;

  &__ta-logo {
    width: $height / 2;
  }
}
