<mat-card class="d-flex flex-column m-2 w-100 place-card">
  <mat-card-header class="d-flex flex-wrap place-card-header">
    <mat-card-title>{{place.name}}</mat-card-title>
  </mat-card-header>
  <div class="spacer"></div>
  <div mat-card-image class="place-card-image">
    <div class="place-card-image__img"[style.background-image]="'url('+ place.imageUrl + ')'"></div>
  </div>
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>