$width: 300px;
$height: 200px;

:host {
  //margin: 10px;
}
.spacer {
    flex-grow: 1!important;
}
.place-card {
  // max-width: $width;
  // display: inline-block;
  width: 100%;

  &-header {
    // text-overflow: ellipsis;
    // white-space: nowrap;
    // overflow: hidden;
    &__title {
    }
  }

  &__image {
    //width: $width;
    height: $height;
    background-position: center center;
    background-size: cover;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    &:hover {
      // -ms-transform: scale(1.5);
      // -moz-transform: scale(1.5);
      // -webkit-transform: scale(1.5);
      // -o-transform: scale(1.5);
      // transform: scale(1.5);
    }
  }
}
