@import '~@angular/material/theming';
@import '../../../../styles/theme';

::ng-deep {
  .mat-slider-horizontal .mat-slider-wrapper {
    right: 0 !important;
  }
}

:host {
  @include mat-elevation(1);
  background-color: mat-color(map-get($light-theme, primary), default-contrast);
}

.control-group {
  &:last-child {
    margin-right: 0;
  }
}
