<div class="map">
  <agm-map [latitude]="searchCriteria.location.latitude" [longitude]="searchCriteria.location.longitude" [zoom]="zoom">
    <agm-marker *ngIf="showBasePoint" [latitude]="searchCriteria.location.latitude" [longitude]="searchCriteria.location.longitude"
      [title]="'Selected Location'"></agm-marker>

    <agm-marker *ngFor="let place of places" [latitude]="place.location.latitude" [longitude]="place.location.longitude"
      [title]="place.name" [opacity]="place.opacity" [iconUrl]="place.iconUrl" (markerClick)="markerClick(place)"></agm-marker>

    <agm-circle *ngIf="showBasePoint" [latitude]="searchCriteria.location.latitude" [longitude]="searchCriteria.location.longitude"
      [radius]="radiusInMeters()" [fillColor]="'#673ab7'" [fillOpacity]="0.2"></agm-circle>
  </agm-map>
</div>
