@import '~@angular/material/theming';
@import '../../styles/theme';
@import '../../styles/variables';

@mixin _mat-footer-color($palette) {
  background: mat-color($palette);
  color: mat-color($palette, default-contrast);
}

.footer {
  $primary: map-get($light-theme, primary);
  $accent: map-get($light-theme, accent);
  $warn: map-get($light-theme, warn);
  $background: map-get($light-theme, background);
  $foreground: map-get($light-theme, foreground);

  background: mat-color($background, app-bar);
  color: mat-color($foreground, text);

  &__title {
    padding: $elements-padding;
    text-align: center;
  }

  &--primary {
    @include _mat-footer-color($primary);
  }

  &--accent {
    @include _mat-footer-color($accent);
  }

  &--warn {
    @include _mat-footer-color($warn);
  }

  &__heart.mat-icon {
    $size: 12px;
    font-size: $size;
    width: $size;
    height: $size;
  }
}
