@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Material+Icons');
@import '../scss/theme';

html, body, div {
  border: 0;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  -webkit-webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
}
