<section class="places" fxLayout="row" fxFlex="grow">
  <div class="places__sidenav" fxFlex="noshrink">
    <div fxLayout="column" fxLayoutAlign="center stretch">
      
      
      <md-input-container fxFlex="grow">
        <!--<input mdInput placeholder="State" [mdAutocomplete]="auto" [formControl]="stateCtrl">-->
        <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
      </md-input-container>

      <!--<md-autocomplete fxFlex="grow" #auto="mdAutocomplete">
        <md-option *ngFor="let state of filteredStates | async" [value]="state">
          {{ state }}
        </md-option>
      </md-autocomplete>-->

      <md-slider fxFlex="grow" [max]="100" [min]="0" [step]="1" [thumb-label]="true" [vertical]="false">
      </md-slider>

      <md-select fxFlex="grow" placeholder="Categories" [(ngModel)]="selectedCategory" name="food">
        <md-option *ngFor="let category of categories" [value]="category.value">
          {{category.viewValue}}
        </md-option>
      </md-select>

      <button md-raised-button md-button color="accent">CLOSE</button>
    </div>
  </div>

  <div class="places__map" fxFlex="grow">
    <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
      <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
    </sebm-google-map>
  </div>
</section>