@import '../../styles/_variables';

places {
  display: flex;
  flex: 1;
}

.places {
  &__sidenav {
    padding: $itinerary-elements-padding * 2;
    width: $itinerary-search-sidebar-width;
  }
}

.sebm-google-map-container {
  width: 100%;
  height: 100%;
}