<div class="place-list-item">
  <div class="place-text-content">
    <div class="place-header">
      <div class="place-title-container">
        <h3 class="place-title">
          <a class="place-title__link" href="http://tripadviser.com{{place.url}}" target="_blank">{{place.name}}</a>
        </h3>

        <span>
          <span class="place-rating">
            <place-rating [rating]="place.rating"></place-rating>
          </span>
          <span class="place-reviews">({{place.reviews}})</span>
        </span>
      </div>

      <h2 class="place-header__subtitle">{{place.categories|join:", "}}</h2>
    </div>

    <div class="place-content">
      <img class="trip-adviser-logo" src="/assets/img/trip-adviser-logo.png" mdTooltip="Ratings Powered by TripAdvisor" />
    </div>

    <!--<div class="place-actions">-->
    <!--<button md-raised-button [disabled]="true">SAVE (COOMING SOON)</button>-->
    <!--</div>-->

  </div>
  <div class="place-image">
    <div class="place-image__background" [ngStyle]="{'background-image': 'url(' + place.imgUrl + ')'}">
    </div>
  </div>
</div>
