<div>
  <md-toolbar color="primary">
    <span>
      <md-icon class="icon-20">map</md-icon>
    </span>
    <span>Itinerary</span>
    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>
  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item>Settings</button>
    <button md-menu-item>Toggle Theme</button>
    <button md-menu-item>Help</button>
  </md-menu>
  <router-outlet></router-outlet>
</div>

<div class="flexDemoContainer">
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
    <div fxFlex> I'm above on mobile, and left on larger devices. </div>
    <div fxFlex> I'm below on mobile, and right on larger devices. </div>
  </div>
</div>