md-toolbar-row {
  justify-content: space-between;
}

md-sidenav-container {
  height: 100vh;
}

md-sidenav {
  width: 320px;
}

.flexDemoContainer {
  border: solid 1px #FF0000;
  box-sizing: content-box !important;
}