<md-sidenav-container class="attractions" fxLayout="row">
  <md-sidenav fxFlex align="start" mode="side" opened="true">
    <md-tab-group>
      <md-tab>
        <template md-tab-label>
          Search
        </template>
        <div fxLayout="column">
          <md-input-container>
            <input mdInput placeholder="State" [mdAutocomplete]="auto" [formControl]="stateCtrl">
          </md-input-container>
          <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let state of filteredStates | async" [value]="state">
              {{ state }}
            </md-option>
          </md-autocomplete>
          <md-slider [max]="100" [min]="0" [step]="1" [thumb-label]="true" [vertical]="false">
          </md-slider>
          <md-select placeholder="Categories" [(ngModel)]="selectedCategory" name="food">
            <md-option *ngFor="let category of categories" [value]="category.value">
              {{category.viewValue}}
            </md-option>
          </md-select>

          <button md-raised-button md-button color="accent">CLOSE</button>
        </div>

      </md-tab>
      <md-tab>
        <template md-tab-label>
          Feed
        </template>
      </md-tab>
    </md-tab-group>
  </md-sidenav>

  <div fxFlex>
    Map
  </div>
</md-sidenav-container>