@import '~@angular/material/theming';
@import '../../styles/_variables';

$title-font-size: 50px;
$title-font-size-mobile: 42px;

$navigation-link-font-size: 16px !default;
$navigation-link-coming-soon-font-size: 8px !default;
$navigation-link-border-size: 4px !default;

.header {
  &__title {
    font-family: 'Clicker Script';
    text-decoration: none;
    color: mat-color(map-get($itinerary-light-theme, primary), default-contrast);
  }
}

.more-button {
  order: 2;
}

.navigation-container {
  order: 1;
}

.navigation {
  height: 100%;

  &__link {
    display: inline-block;
    padding: 0 $toolbar-padding;
    font-size: $navigation-link-font-size;
    text-decoration: none;
    text-transform: uppercase;
    color: mat-color(map-get($itinerary-light-theme, primary), default-contrast);
    border-bottom: $navigation-link-border-size solid transparent;
    position: relative;

    &--active,
    &:hover {
      border-bottom: $navigation-link-border-size solid mat-color(map-get($itinerary-light-theme, accent));
      transition: border-color 0.4s ease-in-out;
    }

    &-sub-title {
      font-size: $navigation-link-coming-soon-font-size;
      position: absolute;
      right: $toolbar-padding;
      top: $navigation-link-font-size - $navigation-link-border-size;
    }
  }
}

@mixin header ($font-size){
  .header {
    &__title {
      font-size: $font-size;
    }
  }
}

@mixin navigation-height($height) {
  .navigation {
    &__link {
      height: $height - $navigation-link-border-size;
      line-height: $height;
    }
  }
}

@include header($title-font-size);
@include navigation-height($toolbar-height-desktop);

@media ($mat-xsmall) {
  @include header($title-font-size-mobile);
}
