@import '../../../scss/variables';
@import '../../../scss/mixins';

:host {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f0f0f0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
  }
}

.place-list {
  position: relative;
  overflow-y: auto;
}
