@import '../../../scss/variables';
@import '../../../scss/mixins';

:host {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: $scrollbar-width;
  }

  &::-webkit-scrollbar-track {
    background-color: $scrollbar-track-background-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb-background-color;
  }
}

.place-list {
  position: relative;
  overflow-y: auto;
}
