$extra-small-upper-bound: 599px;
$small-lower-bound: $extra-small-upper-bound + 1;//600
$small-upper-bound: 959px;

$medium-lower-bound: $small-upper-bound + 1;//960px
$medium-upper-bound: 1279px;

$large-lower-bound: $medium-upper-bound + 1;//1280
$large-upper-bound: 1919px;

$extra-large-lower-bound: $large-upper-bound + 1;//1920
$extra-large-upper-bound: 5000px;

$xs: (max-width: $extra-small-upper-bound);
$gt-xs: (min-width: $small-lower-bound);
$sm: ((min-width: $small-lower-bound) and (max-width: $small-upper-bound));
$lt-sm: (max-width: $medium-lower-bound);
$gt-sm: (min-width: $medium-lower-bound);
$md: ((min-width: $medium-lower-bound) and (max-width: $medium-upper-bound));
$gt-md: (min-width: $large-lower-bound);
$lg: ((min-width: $large-lower-bound) and (max-width: $large-upper-bound));
$gt-lg: (min-width: $extra-large-lower-bound);
$xl: ((min-width: $extra-large-lower-bound) and (max-width: $extra-large-upper-bound));

@mixin for-media-query($media-query) {
  @media #{$media-query} {
    @content;
  }
}
