@import '~@angular/material/core/theming/_all-theme';
@import '~@angular/material/core/theming/_palette';
@import '~@angular/material/core/theming/_theming';
@import '~@angular/material/core/_core';

@include mat-core();

$primary: mat-palette($mat-deep-purple);
$accent: mat-palette($mat-yellow);
$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
