@import '~@angular/material/theming';

$itinerary-elements-padding: 10px;
$itinerary-search-sidebar-width: 380px;

$itinerary-palette-primary: mat-palette($mat-deep-purple, 500);
$itinerary-palette-accent: mat-palette($mat-yellow, 500);
$itinerary-light-theme: mat-light-theme($itinerary-palette-primary, $itinerary-palette-accent);

$toolbar-padding: 16px !default;
$toolbar-height-desktop: 64px !default;
$toolbar-height-mobile-landscape: 48px !default;
