@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Material+Icons');
@import '_theme';
@import '_loader';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  -webkit-webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
}
