@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '_themes';
@import '_variables';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  -webkit-webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
}
