:host {
  position: relative;
  margin-top: 1px;
}

.map {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sebm-google-map-container {
  width: 100%;
  height: 100%;
}