<!-- <div class="box">
  <h1 class="title">{{'404.title' | translate }}</h1>
  <h2 class="sub-title">{{'404.sub-title.line-1' | translate }}
    <br>
     {{'404.sub-title.line-2' | translate }}
  </h2>
  <ul class="links">
    <li class="links__link"><a [routerLink]="['/home']">{{'navbar.navigation.home' | translate }}</a></li>
    <li class="links__link"><a [routerLink]="['/places']">{{'navbar.navigation.places' | translate }}</a></li>
  </ul>
</div> -->

    <mat-card>
      <mat-card-title>404: Not Found</mat-card-title>
      <mat-card-content>
        <p>Hey! It looks like this page doesn't exist yet.</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/">Take Me Home</button>
      </mat-card-actions>
    </mat-card>