@import '../../../styles/_variables';

.place-details {
  margin-top: $itinerary-elements-padding;
}

.card {
  &__title {
    text-decoration: none;
    color: inherit;
  }

  &__image {
    max-height: $itinerary-search-sidebar-width - $itinerary-elements-padding * 4;
  }
}

.trip-adviser-logo {
  width: $itinerary-search-sidebar-width / 3;
}
