<div class="place-details" *ngIf="isPlaceSelected">
  <md-card class="card">
    <md-card-header class="card__header">
      <md-card-title><a class="card__title" href="http://tripadviser.com{{place.url}}" target="_blank">{{place.name}}</a></md-card-title>
      <md-card-subtitle>{{place.categories|join:", "}}</md-card-subtitle>
    </md-card-header>
    <img class="card__image" *ngIf="place.imgUrl" md-card-image src="{{place.imgUrl}}">
    <md-card-content>
      <img class="trip-adviser-logo" src="/assets/img/trip-adviser-logo.png" alt="Trip Adviser">
      <div class="card__statistics" fxLayout="row" fxLayoutAlign="pace-between">
        <div class="reviews" fxFlex>
          <md-icon>people</md-icon>
          <span class="reviews__label">{{place.reviews}} Reviews</span>
        </div>
        <div class="rating" fxFlexAlign="end" >
          <place-rating [rating]="place.rating"></place-rating>
        </div>
      </div>
      <p>
        Ratings Powered by <i>TripAdvisor</i>
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button [disabled]="true">SAVE (COOMING SOON)</button>
    </md-card-actions>
  </md-card>
</div>
