@import '~@angular/material/theming';
@import '../../../../styles/theme';

.footer {
  $foreground: map-get($light-theme, foreground);

  position: absolute;
  bottom: 0;
  width: 100%;
  color: mat-color($foreground, secondary-text);

  &__title {
    text-align: center;
    font-size: 14px;
  }

  &__sub-title {
    text-align: center;
    font-size: 12px;
  }

  &__heart.mat-icon {
    $warn: map-get($light-theme, warn);
    color: mat-color($warn);
    $size: 12px;
    font-size: $size;
    width: $size;
    height: $size;
  }
}
