@import '~@angular/material/core/style/variables';
@import '~@angular/material/core/theming/palette';
@import '~@angular/material/core/theming/theming';
@import '~@angular/material/toolbar/toolbar';
@import '../../styles/_variables';
@import '../../styles/_breakpoints';

//$mat-toolbar-height-mobile-portrait: 56px !default;
//$mat-toolbar-height-mobile-landscape: 48px !default;

.splash {
  background: url("../../assets/img/home-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  width: 100%;
  height: calc(100vh - #{$mat-toolbar-height-desktop});

  &__overlay {
    background-color: rgba(0, 0, 0, .2);

    &--center {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%;
      color: mat-color(map-get($itinerary-light-theme, primary), default-contrast);
    }
  }
}

.intro {
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.details {
}

.divider {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: $itinerary-elements-padding * 3;
  margin-bottom: $itinerary-elements-padding * 3;

  &:before,
  &:after {
    $line-color: mat-color(mat-palette($mat-grey, 500));
    content: '';
    background: $line-color;
    height: 1px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  &:before {
    margin: 0 .45em 0 0;
  }

  &:after {
    margin: 0 0 0 .45em;
  }
}

.text-center {
  text-align: center;
}

.feature-card {
}

.features-list {
  padding: 0;
  list-style: none;
}

@include for-media-query($gt-sm) {
  .details {
    width: $medium-lower-bound;
    margin: 0 auto;
    padding-bottom: $itinerary-elements-padding * 10;
  }
}

@include for-media-query($lt-sm) {
  .splash {
    height: calc(100vh - #{$mat-toolbar-height-mobile-landscape});
  }
  .details {
    padding: $itinerary-elements-padding;
  }

  .divider {
    margin-top: $itinerary-elements-padding;
    margin-bottom: $itinerary-elements-padding;
  }

  .feature-card {
    &:not(:last-child) {
      margin-bottom: $itinerary-elements-padding * 2;
    }
  }
}

