<div class="splash">
  <div class="splash__overlay splash__overlay--center">
    <ul class="intro">
      <li>
        <h1 class="">Itinerary</h1>
      </li>
      <li>
        <p class="">Search intersting placese and plan you trip!</p>
      </li>
      <li>
        <a md-raised-button color="accent" [routerLink]="['/places']">Search Places</a>
      </li>
    </ul>
  </div>
</div>

<div class="details">
  <div class="divider" fxFlex >
    <h2 class="divider__title">About "Itinerary"</h2>
  </div>
  <section class="text-center" fxFlex fxFlexAlign="center">
    <p>Do you want to spend less time planning your trip without missing anything? Then this site is for you! You will easily
      find all the most interesting and popular places, but also you will quickly build and maintain the best route here.
    </p>
  </section>

  <div class="divider" fxFlex>
    <h2 class="divider__title">Our Features</h2>
  </div>
  <section fxFlex>
    <div fxLayout='column' fxLayoutAlign="center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-around start">
      <md-card class="feature-card" fxFlex.gt-sm="45">
        <md-card-header>
          <md-card-title>Places</md-card-title>
          <md-card-subtitle>Search interesting places</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="assets/img/travel-plans.jpg">
        <md-card-content>
          <ul class="features-list">
            <li>Specify the search area</li>
            <li>Set the place ranking</li>
            <li>Choose and keep your liked points</li>
          </ul>
        </md-card-content>
        <md-card-actions>
          <a md-button [routerLink]="['/places']">START USING IT</a>
        </md-card-actions>
      </md-card>
      <md-card class="feature-card" fxFlex.gt-sm="45">
        <md-card-header>
          <md-card-title>Route</md-card-title>
          <md-card-subtitle>Build and maintain the best route</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="assets/img/travel-notes.jpg">
        <md-card-content>
          <ul class="features-list">
            <li>Create a new map or use the points you saved earlier.</li>
            <li>Set the start and end point of the journey-the route is ready.</li>
            <li>Embark on a journey!</li>
          </ul>
        </md-card-content>
        <md-card-actions>
          <a md-button [disabled]="true" [routerLink]="['/home']">COMING SOON</a>
        </md-card-actions>
      </md-card>
    </div>
  </section>
</div>
