<div class="splash">
  <div class="splash__overlay splash__overlay--center">
    <ul class="intro">
      <li>
        <h1 class="">Itinerary</h1>
      </li>
      <li>
        <p class="">Search intersting placese and plan you trip!</p>
      </li>
      <li>
        <a md-raised-button color="primary" [routerLink]="['/places']">Search Places</a>
      </li>
    </ul>
  </div>
</div>

<div class="details">

  <div fxFlex class="divider">
    <h2 class="divider__title">About us</h2>
  </div>

  <section fxFlex fxFlexAlign="center" class="text-center">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit explicabo assumenda eligendi ex exercitationem harum
      deleniti quaerat beatae ducimus dolor voluptates magnam, reiciendis pariatur culpa tempore quibusdam quidem, saepe
      eius.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit explicabo assumenda eligendi ex exercitationem harum
      deleniti quaerat beatae ducimus dolor voluptates magnam, reiciendis pariatur culpa tempore quibusdam quidem, saepe
      eius.
    </p>

  </section>

  <div fxFlex class="divider">
    <h2 class="divider__title">Our team</h2>
  </div>

  <section fxFlex>

    <div fxLayout='row' fxLayoutAlign="center">
      <md-card fxFlex="33">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>Dmitry Fisenko</md-card-title>
          <md-card-subtitle>Software Engineer at EPAM Systems</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="assets/img/team/dmitry_fisenko.jpg">
        <md-card-content>
          <p>
            Dmitry Fisenko is Software Engineer at EPAM Systems.
          </p>
        </md-card-content>
        <md-card-actions>
          <a md-button href="https://www.linkedin.com/in/fisenkodv">LINKEDIN</a>
          <a md-button href="https://www.facebook.com/fisenkodv">FACEBOOK</a>
        </md-card-actions>
      </md-card>
    </div>

  </section>

</div>
