@import '@angular/material/theming';

$palette-primary: mat-palette($mat-deep-purple, 500);
$palette-accent: mat-palette($mat-yellow, 500);
$light-theme: mat-light-theme($palette-primary, $palette-accent);
