<div class="progress-bar-container">
  <md-progress-bar *ngIf="showProgressBar | async" mode="indeterminate" color="accent"></md-progress-bar>
</div>
<md-toolbar color="primary">
  <a class="title" fxFlex="grow" [routerLink]="['/home']">{{'navbar.title' | translate }}</a>
  <div class="navigation-container" fxHide.xs="true">
    <nav class="navigation">
      <a class="navigation__link" [routerLink]="['/home']" [routerLinkActive]="'navigation__link--active'">{{'navbar.navigation.home' | translate }}</a>
      <a class="navigation__link" [routerLink]="['/places']" [routerLinkActive]="'navigation__link--active'">{{'navbar.navigation.places' | translate }}
          <span class="navigation__link-sub-title">{{'navbar.navigation.us-only' | translate }}</span>
        </a>
      <a class="navigation__link" [routerLink]="['/travels']" [routerLinkActive]="'navigation__link--active'">{{'navbar.navigation.travels' | translate }}
          <span class="navigation__link-sub-title">{{'navbar.navigation.soon' | translate }}</span>
        </a>
      <a class="navigation__link" *ngIf="!isSignedIn" [routerLink]="['/signin']">{{'navbar.navigation.signin' | translate }}</a>
    </nav>
  </div>
  <button class="more-button" *ngIf="isSignedIn" md-icon-button [md-menu-trigger-for]="menu" fxHide.xs="true">
      <md-icon>more_vert</md-icon>
    </button>
  <button class="more-button" md-icon-button [md-menu-trigger-for]="navigation" fxShow.gt-xs="false">
      <md-icon>menu</md-icon>
    </button>
</md-toolbar>
<md-menu x-position="before" #menu="mdMenu">
  <button md-menu-item>{{'navbar.menu.settings' | translate }}</button>
  <button md-menu-item>{{'navbar.menu.theme' | translate }}</button>
  <button md-menu-item>{{'navbar.menu.help' | translate }}</button>
  <button md-menu-item (click)="signout()">{{'navbar.menu.signout' | translate }}</button>
</md-menu>
<md-menu x-position="before" #navigation="mdMenu">
  <button md-menu-item [routerLink]="['/home']">{{'navbar.navigation.home' | translate }}</button>
  <button md-menu-item [routerLink]="['/places']">{{'navbar.navigation.places' | translate }}</button>
  <button md-menu-item [routerLink]="['/travels']">{{'navbar.navigation.travels' | translate }}</button>
</md-menu>
