<section class="search-panel">
  <mat-card>
    <mat-card-title translate>places.search.title</mat-card-title>
    <mat-card-content>
      <mat-input-container>
        <input matInput placeholder="{{'places.search.location.placeholder' | translate }}">
      </mat-input-container>
      <!-- <mat-spinner [diameter]="30" [strokeWidth]="3"></mat-spinner> -->
    </mat-card-content>
    <mat-card-footer>
      <!-- <span *ngIf="error">{{error}}</span> -->
    </mat-card-footer>
  </mat-card>
</section>