@import '@angular/material/theming';
@import '../../../scss/theme';
@import '../../../scss/variables';
@import '../../../scss/mixins';

$foreground: map-get($light-theme, foreground);
$secondary-color: mat-color($foreground, secondary-text);
$divider-color: mat-color($foreground, divider);
$highlight-color: lighten(mat-color($foreground, divider), 50%);
$highlight-animation-color: darken(mat-color($foreground, divider), 100%);
$title-font-size: 16px;
$subtitle-font-size: 12px;
$review-font-size: 12px;
$review-line-height: 16px;
$star-size: 16px;

@keyframes highlight {
  0% {
    background: $highlight-animation-color;
  }
  100% {
    background: none;
  }
}

.place-list-item {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  padding:
    $elements-padding / 2
    $elements-padding
    $elements-padding / 2
    $elements-padding * 2;
  border-bottom: 1px solid $divider-color;

  &:hover {
    background-color: $highlight-color;
  }

  &--highlight {
    animation: highlight 2s;
  }
}

.place-text-content {
  flex: 3 0;
  padding-right: $elements-padding / 2;

  .place-header {
    .place-title-container {
      .place-title {
        font-size: $title-font-size;
        margin: 0;

        &__link {
          color: inherit;
          text-decoration: none;
          font-weight: 500;
        }
      }

      .place-subtitle {
        color: $secondary-color;
        font-weight: normal;
        font-size: $subtitle-font-size;
        margin: $elements-padding / 2 0;
      }

      .place-rating-container {
        display: flex;

        .place-rating {
          align-items: stretch;
          display: flex;

          .rating-star {
            &__icon {
              width: $star-size;
              height: $star-size;
              font-size: $star-size;
            }
          }
        }

        .place-reviews {
          font-size: $review-font-size;
          line-height: $review-line-height;
          color: $secondary-color;
        }
      }
    }
  }
}

.trip-adviser-logo {
  width: $elements-padding * 10;
  margin-top: $elements-padding;
}

.place-image {
  flex: 1 1;
  overflow: hidden;
  position: relative;

  &__background {
    position: absolute;
    background-size: cover;
    background: no-repeat center center;
    width: 100%;
    height: 100%;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  }

  &:hover {
    .place-image__background {
      -ms-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
}
