:host {
  display: flex;
  font-size: 0;
  align-items: center;
}

.rating {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  vertical-align: middle;
}

.rating-star {
  display: inline-block;
}
