<div class="map">
  <sebm-google-map [latitude]="searchCriteria.location.latitude" [longitude]="searchCriteria.location.longitude" [zoom]="zoom">
    <sebm-google-map-marker *ngIf="isBasePointSet" [latitude]="searchCriteria.location.latitude" [longitude]="searchCriteria.location.longitude" [label]="'Y'" [title]="'Current Location'"></sebm-google-map-marker>

    <sebm-google-map-marker *ngFor="let place of places" [latitude]="place.location.latitude" [longitude]="place.location.longitude" [title]="place.name" [opacity]="placeOpacity(place)" (markerClick)="markerClick(place)"></sebm-google-map-marker>

    <sebm-google-map-circle [latitude]="searchCriteria.location.latitude" [longitude]="searchCriteria.location.longitude" [radius]="distanceInMeters" [fillColor]="'#673ab7'" [fillOpacity]="0.2"></sebm-google-map-circle>
  </sebm-google-map>
</div>
