<md-card>
  <md-card-header>
    <md-card-title>{{'signin.title' | translate }}</md-card-title>
  </md-card-header>

  <md-card-content>
    <form #form="ngForm">
      <md-input-container class="input--fullwidth">
        <input name="username" type="email" required mdInput [(ngModel)]="username" (onEnter)="signIn(form)">
        <md-placeholder>{{'signin.username.placeholder' | translate }}</md-placeholder>
      </md-input-container>
      <md-input-container class="input--fullwidth">
        <input name="password" type="password" required mdInput [(ngModel)]="password" (onEnter)="signIn(form)">
        <md-placeholder>{{'signin.password.placeholder' | translate }}</md-placeholder>
      </md-input-container>
    </form>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button color="primary" (click)="signIn(form)">{{'signin.signin-button.label' | translate }}</button>
    <span class="error-message">{{error}}</span>
  </md-card-actions>
</md-card>
