<h1>{{'signin.title' | translate }}</h1>
<div>
  <form #form="ngForm">
    <md-form-field class="input--fullwidth">
      <input name="username" type="email" required mdInput [(ngModel)]="username" (onEnter)="signIn(form)">
      <md-placeholder>{{'signin.username.placeholder' | translate }}</md-placeholder>
    </md-form-field>
    <md-form-field class="input--fullwidth">
      <input name="password" type="password" required mdInput [(ngModel)]="password" (onEnter)="signIn(form)">
      <md-placeholder>{{'signin.password.placeholder' | translate }}</md-placeholder>
    </md-form-field>
  </form>
</div>
<div>
  <button md-raised-button color="primary" (click)="signIn(form)">{{'signin.signin-button.label' | translate }}</button>
  <span class="error-message">{{error}}</span>
</div>
