@import '@angular/material/theming';
@import '../../scss/theme';

:host {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input {
  &--fullwidth{
    width: 100%;
  }
}

.error-message {
  $warn: map-get($light-theme, warn);
  color: mat-color($warn);
  margin: auto;
}
