<section class="search-panel" fxLayout="column">
  <h2 fxFlex="grow" class="search-panel__title">{{'places.search.title' | translate }}</h2>

  <md-input-container fxFlex="grow" fxFlexFill>
    <input type="text" mdInput [formControl]="searchControl" [mdAutocomplete]="auto">
    <md-placeholder>{{'places.search.location.placeholder' | translate }}</md-placeholder>
  </md-input-container>

  <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayPlace.bind(this)">
    <md-option *ngFor="let place of filteredPlaces" [value]="place">
      {{ place.description }}
    </md-option>
  </md-autocomplete>

  <section fxFlex="grow">
    <div fxLayout="row">
      <label class="search-panel__label" fxFlexAlign="center" fxFlex="nogrow">{{'places.search.distance.label' | translate }}</label>
      <md-slider fxFlex="grow" [max]="500" [min]="0" [step]="10" [thumb-label]="true" [vertical]="false" [value]="distance" (change)="changeDistanceHandler($event)">
      </md-slider>
    </div>
  </section>

  <section fxFlex="grow">
    <div fxLayout="row">
      <label class="search-panel__label" fxFlexAlign="center" fxFlex="nogrow">{{'places.search.rating.label' | translate }}</label>
      <md-slider fxFlex="grow" [min]="0" [max]="5" [step]="0.1" [thumb-label]="true" [vertical]="false" [value]="rating" (change)="changeRatingHandler($event)">
      </md-slider>
    </div>
  </section>

  <section fxFlex="grow">
    <div fxLayout="row">
      <label class="search-panel__label" fxFlexAlign="center" fxFlex="nogrow">{{'places.search.review.label' | translate }}</label>
      <md-slider fxFlex="grow" [min]="0" [max]="500" [step]="50" [thumb-label]="true" [vertical]="false" [value]="reviews" (change)="changeReviewsHandler($event)">
      </md-slider>
    </div>
  </section>
</section>
