@import '../../../styles/_variables';
@import '../../../styles/_mixins';

:host {
  padding: $itinerary-elements-padding * 2;
}

.search-panel {
  &__title {
    margin-top: 0;
  }

  &__label {
    padding-right: $itinerary-elements-padding;
  }
}
