<h1 class="title m-0 px-3 py-4 font-weight-light">
  {{place.name}}
</h1>
<div class="details d-flex flex-fill flex-xs-column flex-sm-column flex-md-row pb-3 px-3">
  <div class="details__info d-flex flex-column col-md-6 flex-grow-1 flex-sm-grow-0 p-0">
    <div class="d-flex flex-row col-sm-12 col p-0 pr-3">
      <div class="image-wrapper img-thumbnail col-6">
        <div class="image-wrapper__image" [style.background-image]="'url('+ place.imageUrl + ')'">
        </div>
      </div>
      <div class="col-6">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo, odit repudiandae. Officia incidunt est porro labore aliquid
        tempore dicta obcaecati asperiores. Tenetur quibusdam optio quos non eius consequuntur voluptatum rem.
      </div>
    </div>

    <div class="d-sm-none spacer"></div>
  </div>
  <div class="details__map col-6 col-sm flex-grow-1 p-0 mt-sm-3">
    <agm-map [latitude]="place.location.latitude" [longitude]="place.location.longitude" [zoom]="14">
      <agm-marker [latitude]="place.location.latitude" [longitude]="place.location.longitude" [title]="place.name"></agm-marker>
    </agm-map>
  </div>
</div>